.lexi-flex {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: 0 auto;
}

.center { text-align: center; }

#show-martian,
#show-english {
	cursor: pointer;
	height: 2em;
}

[id$='Sort'] {
	font-family: 'Megrim', cursive;
	font-weight: bold;
}

.letterCheck {
	color: blue;
	cursor: pointer;
}

.letterCheck:hover {
	color: #800;
	text-decoration: underline;
}

th.letterCheck { color: #AAA; }
th.letterCheck:hover { color: #F00; }
