body {
	width: 80%;
	margin: 0 auto;
}

h1, h2, h3, h4 { text-align: center; color: #04c; font-weight: bold; }

h1, h2 { text-align: center; font-family: 'Black Ops One', serif, cursive; }
h2, h3 { font-size: 120%; margin: 0; padding: 0.25em 0 0.5em; }

h2 { color: #a569bd; font-family: 'Audiowide', serif, cursive; }
h3 { color: #152283; font-family: 'Fugaz One', serif, cursive; }
h4 { color: #5f71fb; font-family: 'Fugaz One', serif, cursive; }

h1, h2, h3, h4,
.head-langname,
.megrim,
[id^='nav-'],
button[id^='show-'] {
	font-family: 'Megrim', cursive;
}

button[id^='show-'] { font-weight: bold; }

p { text-align: center; }


#vowel-graph span span,
#consonants-table td,
.ipa { font-family: 'Judson', serif; }

#top {
	margin: 0;
	padding: 0;
	background-color: none;
}

a { font-weight: bold; }

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	vertical-align: center;
	border-spacing: 5px;
	font-family: serif;
}

th {
	color: white;
	background-color: #4caf50;
	border: 1px solid black;
}

table {
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
	width: 95%;
}

th, td {
	border: 1px dashed black;
	vertical-align: center;
	text-align: center;
}

th {
	border: 1px solid black;
	background-color: #00f;
	color: #fff;
}

tr:nth-child(odd), #verbs tr:nth-child(even) { background-color: #ccc; }
tr:nth-child(even),#verbs tr:nth-child(odd) { background-color: #eee; }

br { clear: left; }

.right { text-align: right; }

.backward {
	display: inline-block;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

@font-face {
	font-family: Martian;
	src: url('assets/font/Xeheixw.ttf');
	font-weight: normal;
	font-style: normal;
}

martian, .martian {
	font-family: Martian;
	font-size: 110%;
	font-style: normal;
}

.dbq { quotes: '“' '”'; }
q, .quotes { quotes: '‘' '’'; }
.dbq::before, q::before, .quotes::before { content: open-quote; }
.dbq::after, q::after, .quotes::after { content: close-quote; }

#lang-full { margin-top: initial !important; }
#head-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	/* position: fixed; */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
}

#head-nav li:not(.right) { float: left; border-right: 1px solid #bbb; }
#head-nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#head-nav li a:hover:not(.active) { background-color: #111; }
#head-nav .active { background-color: #4caf50; }

.right { float: right; }
.right.border { border-right: 1px solid #bbb; }
.right.Lborder { border-left: 1px solid #bbb; }

#phon-other { display: inline-block; max-width: initial; }

canvas.background {
	background-color: blueviolet;
	background-attachment: fixed;
	position: fixed;
	top: 0; left: 0;
	z-index: -5;
	width: 100%;
	height: 100%;
}

/* #### Mobile Phones Portrait #### */
#mobile-nav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

#myLinks { display: none; }
#mobile-nav { display: none; }
#head-nav { display: block; }

#mobile-nav a {
    color: white;
    padding: 0.5em 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

#mobile-nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 16px;
    line-height: 2.5em;
}

.active {
  background-color: #4CAF50;
  color: white;
}

@media screen
and (max-device-width: 480px)
and (orientation: portrait) {
	body { width: 90%; }
	app-root body { width: 100%; }

	#link-loc {
		line-height: 2.5em;
		color: #FFF;
	}

	#mobile-nav {
		display: block;
		font-size: 2em;
		text-align: center;
	}

	#head-nav { display: none; }
	#timeline { flex-direction: column; }
	#vowels, #consonants, #syll-struct, #phon-rules { margin: 20px auto; }
}

